html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.title {
    font-size: 70px;
    color: rgb(118, 118, 118);
    margin: 70px 50px 70px 50px;
}

.input-wrapper {
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.input-box {
    flex-grow: 10;
    box-sizing:border-box;
    font-size: 30px;
    margin: 0;
    padding-left: 15px;
}

.input-box:focus {
    outline: 1px solid rgb(103, 171, 255);
}

.search-button {
    width: 60px;
    height: 60px;
    flex-grow: 1;
    background-color: rgb(41, 136, 250);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    transition: .3s;
}

.search-button svg {
    width: 40px;
    height: 40px;
    fill: white;
}

.search-button:hover {
    transition: .3s;
    background-color: rgb(38, 123, 227);
}

.no-result-wrapper {
    width: 70%;
    height: 100px;
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    display: none;
}

.no-result-prompt {
    color: rgb(118, 118, 118);
    font-size: 25px;
}

.results-wrapper {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.single-result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 70px;
}

.result-title {
    font-size: 30px;
    text-decoration: none;
    color: rgb(54, 137, 238);
    transition: .2s;
}

.result-title:hover {
    color: rgb(31, 92, 167);
    transition: .2s;
}

.result-authors {
    font-size: 25px;
    margin: 5px 0 5px 0;
    color: rgb(86, 148, 103)
}

.result-abstract {
    font-size: 22px;
    margin: 5px 0 5px 0;
}