<!DOCTYPE html>
<html>

<head>
    <title>Literature Search Engine</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <p class="title">Literature Search Engine</p>
    <div class="input-wrapper">
        <input class="input-box" type="text"
            placeholder="search for papers in the natural language processing domain" />
        <button class="search-button">
            <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                </path>
            </svg>
        </button>
    </div>

    <div class="no-result-wrapper">
        <p class=no-result-prompt></p>
    </div>

    <div class="results-wrapper">
        <div class="single-result-wrapper">
            <div class="relevance-control-wrapper">
                <input class="relevance-radio" type="radio" id="rel" name="radio">
                <label class="radio-label radio-label-rel" for="rel">
                    <i class="relevance-button fa fa-caret-up"></i>
                </label>
                <input class="relevance-radio" type="radio" id="irrel" name="radio">
                <label class="radio-label radio-label-irrel" for="irrel">
                    <i class="relevance-button fa fa-caret-down"></i>
                </label>
            </div>
            <div class="result-contents-wrapper">
                <a class="result-title" href="asd">Cooperative and noncooperative R & D in duopoly with spillovers</a>
                <p class="result-authors">H Seifert, M Shatkay, JJ Simpson</p>
                <p class="result-abstract">Lorem ipsum dolor sit amet, eam diam hinc definitionem at, duo autem minim
                    signiferumque ea, sit no paulo iuvaret scaevola. Lobortis mediocrem has ex, eu alterum tacimates
                    his, albucius adolescens moderatius id pri. Omnes impedit honestatis quo eu, dicam neglegentur te
                    vim. Tota saepe corpora duo ut. Quem sumo an eam. Et illum movet eirmod nec, no qui nonumes
                    sensibus.</p>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>
