/* fix for checkbox not working properly in Safari */
@-webkit-keyframes bugfix { 
  from { padding: 0; } 
  to { padding: 0; } 
}

body {
    font-family: 'Heebo', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    -webkit-animation: bugfix infinite 1s;
}

.title {
    font-size: 70px;
    color: rgb(118, 118, 118);
    margin: 60px 50px 60px 50px;
}

.input-wrapper {
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.input-box {
    flex-grow: 10;
    box-sizing:border-box;
    font-size: 25px;
    margin: 0;
    padding-left: 15px;
}

.input-box::placeholder {
    color: rgb(203, 203, 203);
}

.input-box:focus {
    outline: 1px solid rgb(103, 171, 255);
}

.search-button {
    width: 60px;
    height: 60px;
    flex-grow: 1;
    background-color: rgb(41, 136, 250);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    transition: .3s;
}

.search-button svg {
    width: 40px;
    height: 40px;
    fill: white;
}

.search-button:hover {
    transition: .3s;
    background-color: rgb(38, 123, 227);
}

.no-result-wrapper {
    width: 70%;
    margin: 60px 0 60px 0;
    display: flex;
    align-items: center;
    display: none;
}

.no-result-prompt {
    color: rgb(164, 164, 164);
    font-size: 25px;
    margin: 0px;
}

.results-wrapper {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.single-result-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.result-contents-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.relevance-control-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgb(215, 215, 215);;
    margin-right: 40px;
    height: 100%;
}

.radio-label {
    transition: .2s;
    height: auto;
    display: contents;
}

.radio-label:hover {
    cursor: pointer;
    transition: .2s;
}

.radio-label-rel:hover {
    color: rgb(151, 196, 151);
}

.radio-label-irrel:hover {
    color: rgb(210, 131, 131);
}

.relevance-control-wrapper input {
    display: contents;
}

.relevance-radio:checked + .radio-label-rel {
    color: rgb(151, 196, 151);
}

.relevance-radio:checked + .radio-label-irrel {
    color: rgb(210, 131, 131);
}

.result-title {
    font-size: 30px;
    text-decoration: none;
    color: rgb(63, 131, 215);
    transition: .2s;
}

.result-title:hover {
    color: rgb(31, 92, 167);
    text-decoration: underline;
    transition: .2s;
}

.result-authors {
    font-size: 25px;
    margin: 5px 0 5px 0;
    color: rgb(86, 148, 103)
}

.result-abstract {
    font-size: 22px;
    margin: 5px 0 5px 0;
}

.emphasis {
    display: inline;
    color: rgb(210, 86, 86);
}